nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 20px 40px;
    background-color: var(--bg-main);
  }
  
  /* Bloc gauche */
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  /* Logo + nom */
  .brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  
  /* Logo */
  .brand img {
    width: 40px;
    height: auto;
    object-fit: contain;
  }
  
  /* Nom */
  .brand p {
    font-family: 'Modern Negra', sans-serif;
    font-size: 32px;
    margin: 0;
    white-space: nowrap;
    color: var(--text-main);
  }
  
  /* Liens droite */
  .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
  
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-right a {
    font-size: 16px;
    color: var(--text-main);
    text-decoration: none;
    white-space: nowrap;
  }
  
  .nav-right a:hover {
    color: var(--accent);
  }
  